/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~ end reset ~~~ */

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
	height: 100vh;
}


.left {
	position: relative;
	font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 33%;
	background-image: url("assets/banner.jpg");
	background-size: cover;
}


.logo-bar {
	display: flex;
	flex-shrink: inherit;
	position: relative;
	top: 20%;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8rem;
	background-color: rgba(0, 0, 0, 0.35);
}

.logo-img {
	height: 7rem;
	width: auto;
}

.logo-text {
	font-family: 'norsebold';
	color: white;
	font-size: 5rem;

}

.right {
	display: flex;
    flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 67%;
	background-color: #F9FAFB;
}

.top-bun {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 33%;
	vertical-align: bottom;
	gap: 3rem;
	margin-left: 2rem;
}

section.content {
	display: flex;
	align-items: center;
	height: 34%;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px 0px #DADBDC;
	overflow: auto;
}

.bot-bun {
	height: 33%;
}

h1 {
	font-size: 1.2rem;
	line-height: 1.2;
	max-width: 37rem;
	word-wrap: break-word;
}

.credit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.35);
	top: 95%;
	color: rgba(255, 255, 255, 0.57);
	width: 100%;
	text-align: center;
}

a {
	color: inherit;
}

p {
	display: flex;
	flex-direction: column;
}


form {
	margin-left: 2rem;
}



section.form>div {
	display: flex;
	flex-direction: row;
	gap: 4em;
}

section.form {
	display: flex;
	flex-direction: column;
	color: #3a3a3a;
	font-size: .6rem;

}

form>h1 {
	padding-bottom: .5rem;
}

input {
	border-radius: .2rem;
	border: 1px solid #E5E7EB;
	outline: none;
}

input:focus {
	border-color: #6082E1;
	box-shadow: 0px 1px 5px 0px #DADBDC;
}

input:invalid {
	border-color: red;
}

div.buttons {
	margin-left: 2rem;
	margin-top: 2rem;
	flex-shrink: inherit;
}

.log-in {
	position: relative;
	top: 1.7rem;
}

button.create {
	background-color: #596D48;
}


input.submit {
	background-color: #596D48;
	color: white;
	padding: .7rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	border-radius: .4rem;
	box-shadow: 0px 1px 5px 0px #DADBDC;
}